<script src="views/public/home/HomeController.js"></script>

<!-- Banner -->
<div id="banner" style="padding-bottom:20%;">
	<div class="container">
	</div>
</div>
<!-- /Banner -->

<!-- Main -->
<div id="main">
	<!-- Main Content -->
	<div class="container">
		<div class="row">
			<div class="12u">
				<section>
					<header>
						<h2>¡Sorpresa!</h2>
					</header>
					<p>Bienvenidos al portal de la mejor boda de 2015. Aquí podrán los invitados compartir las fotos de la boda y añadir dedicatorias a los novios.</p>
				</section>
			</div>
		</div>
	</div>
	<!-- /Main Content -->
</div>
<!-- /Main -->